<section>
<h1>Manage Users</h1>

<table>
<tr>
	<td>Staff ID</td>
	<td>Name</td>
  <td>Email</td>
  <td>Andrew ID</td>
  <td>Account Type</td>
</tr>
<tr ng-repeat="s in staff">
	<td>{{s.staffid}}</td>
  <td>{{s.name}}</td>
  <td>{{s.email}}</td>
  <td>{{s.andrewid}}</td>
	<td>
    <select ng-disabled="s.staffid===staffId()" required="required" name="type" ng-model="s.type" ng-change="changeType(s.staffid,s.type)" style="width: 200px">
      <option value="Member">Member</option>
      <option value="Secure Member">Secure Member</option>
    	<option value="Admin">Admin</option>
    </select><br class="clearFloat" />
  </td>
</tr>
</table>

</section>
